# Ignore node_modules in all subdirectories
node_modules/

# Ignore package-lock.json from all subdirectories
**/package-lock.json

# Ignore build and dist folders in all subprojects
**/dist/
**/build/

# Ignore logs and temp files
**/npm-debug.log
**/yarn-error.log
**/.env

